# Conect after data preprocesing

## Dependencies

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from collections import Counter

from pathlib import Path

import sqlite3

## Create the database

In [ ]:
## Create the database NAME: project_1_database
Path('project_1_database.sqlite').touch()

In [ ]:
## Connecto to the database
conn = sqlite3.connect('project_1_database.sqlite')
c = conn.cursor()

In [ ]:
## Create table named table_1 in database named project_1_database
c.execute('''CREATE TABLE table_1 ( SalePrice int, MSSubClass int, MSZoning text, LotFrontage int, LotArea int, 
       LotShape text, LandContour text, Utilities text, LotConfig text,
       LandSlope text, Neighborhood text, Condition1 text, Condition2 text, BldgType text,
       HouseStyle text, OverallQual text, OverallCond text, 
       RoofStyle text, RoofMatl text, Exterior1st text, Exterior2nd text, MasVnrType text,
       Foundation text, Heating text)''')

## Create table named table_2 in database named project_1_database
c.execute('''CREATE TABLE table_2 (HeatingQC text, CentralAir text, Electrical text, BsmtFullBath text, BsmtHalfBath text, FullBath text,
       HalfBath text, BedroomAbvGr text, KitchenAbvGr text, KitchenQual text,
       TotRmsAbvGrd text, Functional text, Fireplaces text, FireplaceQu text, GarageType text)''')

In [ ]:
# load the data into a Pandas DataFrame
table_1_df = X0(subset=['SalePrice', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 
       'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'Foundation', 'Heating'])

# load the data into a Pandas DataFrame
table_2_df = X0(subset=[
       'HeatingQC', 'CentralAir', 'Electrical', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType'])

In [ ]:
# write the data to a sqlite table
table_1_df.to_sql('table_1', conn, if_exists='append', index = False)

# write the data to a sqlite table
table_2_df.to_sql('table_2', conn, if_exists='append', index = False)

In [ ]:
conn.close()

In [ ]:
c.close()

# Conect to the database using SQLAlquemy

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
engine = create_engine("sqlite:///project_1_database.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
table_1 = Base.classes.table_1

table_2 = Base.classes.table_2

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [ ]:
#  Import the sqlalchemy extract function.
from sqlalchemy import extract

In [ ]:
#  Import the sqlalchemy extract function.
from sqlalchemy import extract

#  Write a query that gets the tables content 
table_1_results = session.query(table_1)

table_2_results = session.query(table_2)

In [ ]:
## join table_1 and table_2

In [ ]:
#  Create a DataFrame 
x = pd.DataFrame(results)
x

# Conect to Machine Learning Algo